@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');

/*초기화*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: red;
}

/* 숨긴 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background-color: gray;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
  margin: 0 auto;
  width: 940px;
}

.header {
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  padding: 0px 30px 50px 30px;
}

/* 로고 */
.logo {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 70px;
  /* z-index: 10; */
}

/* 멤버 링크 */
.member {
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  font-size: 0px;
  text-align: right;
  position: relative;
  right: -10px;
  /* display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center; */
}

.member li {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* .member li::before{
  font-family: "fontello";
  background-color: orange;
  content: "\f142";
} */
.member li:nth-child(n+2)::before {
  font-family: "fontello";
  content: "\f142";
}

.member a {
  padding: 8px 10px;
  display: inline-block;
}

/* 메인메뉴 */
.menu {
  background-color: #f2401d;
  background-image: linear-gradient(to bottom, #f48870 0%, #f24421 35%, #f2401d 70%, #f48870 100%);
  padding-left: 225px;
  list-style: none;
  margin: 5px 0 0 0;
  border-radius: 0 0 5px 5px;
  /* border-top: 2px solid #181818; */
  4
}

.menu::after {
  display: block;
  content: "";
  clear: both;
}

.menu-item {
  position: relative;
  float: left;
}

.menu-act .btn-menu {
  color: #ff0;
}

.btn-menu {
  display: block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  color: #fff;
  text-shadow: 1px 0 0 #181818, -1px 0 0 #181818, 0 1px 0 #181818, 0 -1px 0 #181818;
}

.menu-act .btn-menu::after {
  content: "";
  display: block;
  border-top: 2px solid black;
}

.sub-menu {
  padding-left: 0;
  list-style: none;
  margin: 0;
  background-color: yellow;
  position: absolute;
  white-space: nowrap;
  display: none;
}

.sub-menu li, .sub-menu1 a{
  display: inline-block;
}

.sub-menu1 a{
  padding: 8px 0 7px 0;
  margin-right: 10px;
}

.menu-act .sub-menu {
  display: block;
  top: 47px;
}


.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}

/* 비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    /* padding: 0; */
    /* margin: 0; */
    /* top: 0;
    left: 0; */
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    /* padding: 75px 0 0 400px; */
    /* margin: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
    transform: translate(400px, 75px);
  }
  
}

@keyframes bgAni{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.visual {
  background-color: lime;
  height: 120px;
  position: relative;
}

.visual::before, .visual::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: paused; */
  animation: bgAni 2000ms infinite alternate ease-in-out;
}

.visual::before{
  background: url('./images/ani_flower_01.png') no-repeat 0 -10px, url('./images/ani_flower_02.png') no-repeat 670px 0;
}

.visual::after{
  animation-delay: 1000ms;
  background: url('./images/ani_flower_03.png') no-repeat 300px 0, url('./images/ani_flower_04.png') no-repeat 800px 15px;
}

.visual-text{
  position: absolute;
  background-color: yellow;
  animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-content {
  min-height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  /* 메인축 결정 / 레이아웃을 결정 */
  justify-content: space-between;
  padding: 30px;
}

.group1 {
  flex-basis: 250px;
  /* width 설정 */
  /* flex-grow: 2;
    flex-shrink: 1;
    flex: 50px 2 1; */
}

.group2 {
  flex-basis: 380px;
  /* flex-grow: 1; */
}

.group3 {
  flex-basis: 190px;
  /* flex-grow: 2; */
}

/* 로그인 */
/* 강사님코드 */

.login {
  background: #f44418 radial-gradient(circle at right top, #fc7019, #f44418);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #666;
}

.login-heading {
  /* 첫줄 들여쓰기 */
  text-indent: 10px;
  font-size: 1.5rem;
  color: #ff0;
}

.login-form {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}

.login-form fieldset{
  border: 0;
  padding: 0 0 10px 0;
  position: relative;
  border-bottom: 1px solid #aaa;
}

.login-form label {
  display: inline-block;
  width: 4em;
  cursor: pointer;
}

.login-form input {
  width: 95px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}

.user-pw {
  margin-top: 6px;
}

.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #f44418;
  background: #f44418;
  padding: 0;
  color: #fff;
  border-radius: 3px;
  font: inherit;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}

.sign li {
  font-size: 1.3rem;
}

.sign li::before{
  color: #f44418;
}

/* 내코드 */
/* .login {
  background: #f44418 radial-gradient(circle at right top, #fc7019, #f44418);
  width: 250px;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px gray;
}

.login-heading {
  color: yellow;
}

.login-form {
  background-color: #fff;
  width: 230px;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
  margin: 0;
}

fieldset {
  border: none;
  width: 220px;
  margin: 0;
  padding: 0 10px;
}

.user-email label, .user-pw label {
  display: inline-block;
  width: 55px;
}

.user-email input, .user-pw input {
  width: 70px;
}

.btn-login {
  
  background-color: #f44418;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
}

.sign {
  list-style-type: none;
} */

/* 유효성 검사배너 */
/* 강사님 코드 */

.validation-list {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 20px 0;
}
.validation-list li {
  margin: 10px 0;
}
.validation-list a{
  background: url('./images/validation_icon.png') no-repeat 20px 50%, linear-gradient(#ccc, #eee);
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 8px 0 8px 45px;
}


/* 내코드 */
/* .validation-list {
  list-style-type: none;
  margin: 25px 0 20px 0;
  padding: 0;
}

.validation-list a {
  display: block;
  background: #BABABA radial-gradient(circle at right top, #7f7f7f, #BABABA);
  margin: 10px 0;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 10px;
}

.validation-list a::before{
  content: url('./images/validation_icon.png');
  display: inline-block;
  padding: 0 2px;
} */

/* 웹 관련 용아 */
/* 강사님코드 */

.term {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}

.term-heading{
  margin: 0;
  font-size: 1.5rem;
}

.term-list {
  margin: 10px 0 0 0;
}

.odd, .even {
  margin: 10px 0 0 0;
}

.odd::after, .even::after{
  content: "";
  clear: both;
  display: block;
}

.odd .term-list-subject, .odd .term-list-brief {
  float: right;
}

.odd .term-list-thumbnail {
  float: left;
}

.evev .term-list-subject, .even .term-list-brief {
  float: left;
}

.even .term-list-thumbnail {
  float: right;
}

.term-list-thumbnail, .term-list-brief {
  margin: 0;
}

.term-list-subject {
  margin: -2px 0 5px 0;
}

.term-list-subject, .term-list-brief {
  width: 145px;
}

.term-list-thumbnail img {
  vertical-align: top;
}

.term-list-brief {
  line-height: 1.5;
}



/* 내코드 */
/* 
.term {
  background: linear-gradient(#ccc, #eee);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
}

.term-heading {
  margin: 0;
}
.term-list {
  margin: 15px 0 0 0;
}
.term-list-subject {
  color: #296897;
  background-color: pink;
  display: inline;
  
}

.term-list-thumbnail {
  background-color: aqua;
  float: left;
  margin: 0 ;
}

.term-list-brief {
  background-color: yellow;
  margin: 0;
  padding: 10px 0 0 0;
  line-height: 20px;
  display: inline-block;
  width: 145px;
} */

/* 자료검색 폼 */

.search-form {
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 15px 25px 10px 25px;
  border-width: 1px 1px 0 1px;
  border-style: solid solid none solid;
  border-color: #aaa #aaa transparent #aaa;
  border-radius: 15px 15px 0 0;
}

.search-form label, .search-form input, .btn-search{
  vertical-align: middle;
}

.search-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center; */
}

input[type="search"]{
  width: 200px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
  margin: 0 2px;
}

.btn-search {
  background-color: #121212;
  color: #fff;
  font: inherit;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 10px;
  height: 24px;
  font-size: 1.3rem;
}

/* .search-form {
  background: #ccc linear-gradient(#ccc, #eee);
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-radius: 10px 10px 0 0;
  width: 380px;
  height: 50px;
  padding: 15px 15px 0 30px;
}

.search-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

.search-form input {
  width: 200px;
  height: 23px;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding-left: 10px;
}

.btn-search {
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #333;
  color: white;
  width: 44px;
  height: 23px;
  font-size: 1.2rem;
  position: absolute;
  margin-left: 3px;
} */

/* 공지사항/자료실 */
.board {
  /* background-color: yellow; */
  position: relative;
}
.board ul, .board .more {
  display: none;
}

.tab-act ul, .tab-act .more {
  display: block !important;
}

.notice-heading, .pds-heading {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
  /* background-color: pink; */
  position: absolute;

  top: 0;
}

.notice-heading {
  left: 0;
}

.pds-heading {
  left: 73px;
}
.tab-act .tab {
  color: #ed8625;
  border-color: #ed8625 #ed8625 #fff #ed8625;
  background: #fff;
}

.tab {
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 5px 10px;
  color: #666;
}

.board ul {
  /* background-color: blue; */
  margin: 20px 0;
  padding: 45px 0 0 0;
  list-style-type: none;
}

.board li {
  /* background-color: lime; */
  margin: 8px 0;
  display: flex;
  /* justify-content: space-between; */
}

.board li a {
  /* background-color: silver; */
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board time {
  /* background-color: orange; */
  margin-left: auto;
}

.board .more {
  /* background-color: skyblue; */
  position: absolute;
  top: 0;
  right: 0;
}

.more::before {
  color: hsla(110, 70%, 20%, 1);
}

/* 새소식 */
/* 강사님코드 */

.news {
  margin-top: 20px;
  position: relative;
}

.news::before {
  content: "";
  background: red linear-gradient(to right, #aaa, #fff);
  position: absolute;
  top: 30px;
  left: 0;
  width: 80%;
  height: 1px;
}

.news-heading {
  margin: 0;
  font-size: 1.5rem;
  color: #f2401d;
}

.news-link {
  display: block;
}

.news-article {
  padding-left: 130px;
  position: relative;
  min-height: 110px;
}

.news-article-subject {
  margin: 30px 0 0 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.news-article-date {
  display: block;
  margin: 5px 0 10px 0;
}

.news-article-brief {
  margin: 0;
  line-height: 1.5;
}

.news-article-thumbnail {
  margin: 0;
  position: absolute;
  top: 3px;
  left: 0;
}

.news-article-thumbnail img {
  box-shadow: 0 15px 15px 0 #aaa;
}

.news-article-thumbnail figcaption {
  text-align: center;
  margin-top: 15px;
}

.news-more {
  position: absolute;
  top: 0;
  right: 0;
}
/* 내코드 */
/* .news {5px
  margin-top: 20px;
  position: relative;
}

.news::after {
  content: "";
  background: linear-gradient(#aaa, #eee);
  position: absolute;
  top: 35px;
  width: 80%;
  height: 1px;
}

.news-heading {
  margin: 0;
  color: #ed8625;
}

.news-article {
  padding-top: 40px;
  width: 70%;
  float: right;
}

.news-article-subject {
  background-color: yellow;
  margin: 0;
}

.news-article-date {
  background-color: green;
}

.news-article-brief {
  background-color: gray;
}
.news-article-thumbnail {
  margin: 0;
  display: block;
  width: 100px;
  position: absolute;
  top: 65px;
  left: 0;
}

.news-more {
  position: absolute;
  top: 0;
  right: 0;
} */


/* .news-notice {
  position: relative;
}

.news-heading {
  padding: 0 0 10px 0;
  width: 300px;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  color: #f2401d;
}

.news-item {
  background-color: pink;
  float: right;
}

.news-item-heading {
  background-color: blue;
  margin-left: 130px;
}

.news-item time {
  background-color: gray;
  margin-left: 130px;
}

.news-item-content {
  background-color: yellow;
  margin-left: 130px;
  
}
.news-item-thumnail {
  background-color: yellow;
  margin: 0;
  float: left;
}

.news-item-thumnail img {
  padding: 10px;
}

.news-item-thumnail figcaption {
  padding: 10px;
  margin: auto;
}

.notice-more {
  position: absolute;
  top: 0;
  right: 0;
}

.notice-more::before {
  color: hsla(110, 70%, 20%, 1);
} */



/* 이벤트 및 관련사이트 */

.gradient-box {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
}

.point-color{
  color: #f24421;
}

.event1, .related  {
  margin: 0 10px;
}

.event1 {
  position: relative;
}

.related {
  border-top: 1px solid #aaa;
}

.event-heading, .related-heading {
  margin: 10px 0;
  font-size: 1.5rem;
}

.event1 img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #aaa;
}

.event1 p {
  margin: 10px 0;
  line-height: 1.5;
}

.event1 em {
  font-style: normal;
}

.btn-event {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-event button {
  background-color: transparent;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.btn-event button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image : url("./images/back_forward.png");
  background-repeat:  no-repeat;
}
.btn-event-next::after {
  background-position: 100% 0 !important;
}

.related-list {
  background: #fff;
  padding-left: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 27px;
  overflow: hidden;
  transition: height 0.4s 0s, padding 0.4s 0.8s, background 0.4s 1.4s;
}

.related-list:hover,
.related-list:focus {
  height: 147px;
  padding: 10px 0;
  background: yellow;
}

.related-list li {
  height: 25px;
  padding: 2px;
  position: relative;
}

.related-list a {
  width: calc(100% - 4px);
  padding: 2px 0 0 1em;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}


/* 내코드 */
/* .related-list {
  list-style-type: none;
  background: yellow;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 29px;
  margin: 10px 0;
  padding-left: 1em;
}

.related-list li:nth-child(n+2) {
  display: none;
}

.related-list li {
  margin: 5px 0;
}

.related-list a {
  display: inline-block;
  width: 100%;
  height: 100%;
} */

/* 내코드 */
/* .gradient-box {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 10px 10px 10px;
  position: relative;
}

.event-heading {
  margin: 0;
  padding-left: 3px;
  font-size: 1.4rem;
}

.orange {
  display: inline-block;
  color: #f44418;
}

#event-detail {
  text-align: center;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #aaa;
}

#event-detail p {
  margin: 0 0 10px -1px;
}

#event-detail img {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 0 #aaa;
}

#event-detail p em {
  line-height: 2.0;
} */


/* div 하나로  */
/* .btn-event {
  display: flex;
  position: absolute;
  width: 40px;
  height: 18px;
  overflow: hidden;
  top: 15px;
  right: 10px;
}

.btn-event-pre {
  width: 18px;
  cursor: pointer;
}

.btn-event-pre::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 18px;
  background: url("./images/back_forward.png") no-repeat;
}

.btn-event-next {
  width: 18px;
  cursor: pointer;
}

.btn-event-next::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 18px;
  top: 0;
  right: 0;
  background: url("./images/back_forward.png") no-repeat;
  background-position: -37px 0 !important;
} */

/* 버튼 개별적으로 */

/* .btn-event-pre {
  position: absolute;
  top: 15px;
  right: 31px;
  width: 19px;
  height: 18px;
  overflow: hidden;
}

.btn-event-pre::after {
  content: "";
  background-image: url("./images/back_forward.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 20px;
}

.btn-event-next {
  position: absolute;
  top: 15px;
  right: 8px;
  width: 19px;
  height: 18px;
  overflow: hidden;
}

.btn-event-next::after {
  content: "";
  background-image: url("./images/back_forward.png");
  position: absolute;
  top: -1px;
  right: 0;
  width: 19px;
  height: 18px;
}  */



/* 슬로건 */
.slogan {
  background-color: orange;
  padding: 15px 0;
}

.footer-bg {
  background-color: silver;
  padding: 15px 0;
}

.footer {
  background-color: yellow;
}